<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <title>购物车</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="__PUBLIC__/css/base.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/shop_common.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/shop_header.css" type="text/css" />
        <link rel="stylesheet" href="__PUBLIC__/css/shop_home.css" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/js/jquery.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/js/topNav.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/js/focus.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/js/shop_home_tab.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/js/angular.min.js" ></script>
    <style type="text/css">
    .address{
        width: 980px;
        margin: 0 auto;
        font-weight: bold;
        font-size: 16px;
    }
    input{
        width: 200px;
        height: 30px;
        border: solid 1px #FE8502;
    }
    .address-form{
        width: 49%;
        border: solid 1px #FE8502;
        float: left;
    }
    .address-form label{
        width: 100px;
        display: inline-block;
        padding: 10px;
    }
    .add-address{
        color: rgb(0, 0, 238);
    }
    #special{
        position: relative;
    }
    .special{
        color: #FE8502;
    }
    .del-button,.add-address{
        float: right;
        margin-right: 40px;
        margin-top: 10px;
    }
    </style>
</head>
<body ng-controller="Address">
    <include file="Public/header" />
    <div class="address">
        <div class="address-form" id="special">
            <div>
                <label>收货人姓名</label>
                <input type="text" name="consignee" ng-model='consignee'> 
                <strong  class="consignee">{{consignee}}</strong>             
            </div>
            <div>
                <label>省</label>
                <input type="text" name="province" class="province" ng-model='province'>                
            </div>
            <div>
                <label>城市</label>
                <input type="text" name="city" class="city" ng-model='city'>                
            </div>            
                <label>区</label>
                <input type="text" name="district" class="district" ng-model='district'>
            <div>
                <label>街道</label>
                <input type="text" name="zipcode" class="street" ng-model='street'>                
            </div>
            <div>
                <label>邮政编码</label>
                <input type="text" name="zipcode" class="zipcode" ng-model='zipcode'>                
            </div>               
            <div>
                <label>移动电话</label>
                <input type="text" name="mobile" class="mobile" ng-model='mobile'>
                <a class="add-address" ng-click="addAddress()">添加新地址</a>
            </div>
        </div>        
    </div>
    <volist name="address" id="vo">
        <div class="address">
            <div class="address-form">
                <div>
                    <label>收货人姓名：</label>
                     <span class="special">{$vo.consignee}</span>              
                </div>
                <div>
                    <label>省：</label>
                    <span class="special">{$vo.province}</span>                
                </div>
                <div>
                    <label>城市：</label>
                    <span class="special">{$vo.consignee}</span>                
                </div>            
                    <label>区：</label>
                    <span class="special">{$vo.city}</span>
                <div>
                    <label>街道：</label>
                    <span class="special">{$vo.street}</span>                
                </div>                   
                <div>
                    <label>邮政编码：</label>
                    <span class="special">{$vo.zipcode}</span>                
                </div>            
                <div>
                    <label>移动电话：</label>
                    <span class="special">{$vo.mobile}</span>
                    <a href="__CONTROLLER__/delete/id/{$vo.address_id}" class="del-button">删除</a>
                </div>
            </div>        
        </div>
    </volist>
<script type="text/javascript">
angular.module('myapp',[])
    .controller('Address',['$scope','$http',function($scope,$http) {
        $scope.consignee='';
        $scope.province='';
        $scope.city='';
        $scope.district='';
        $scope.zipcode='';
        $scope.mobile='';
        $scope.addAddress = function(){
            var consignee = encodeURI($scope.consignee);
            var province = encodeURI($scope.province);
            var city = $scope.city;
            var district = $scope.district;
            var zipcode = $scope.zipcode;
            var mobile = $scope.mobile;
            var street = $scope.street;
            var json = {consignee: $scope.consignee, province:$scope.province,city:$scope.city, district:$scope.district,street:$scope.street,zipcode:$scope.zipcode,mobile:$scope.mobile};
            var req = {
             method: 'POST',
             url: '__MODULE__/address/add',
             headers: {
               'Content-Type': 'text/html'
             },
             data: json
            }
            $http(req).then(function(data){console.log(data);}, function(data){console.log(data);});
        }

    }]);
</script>
</body>
</html>