<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>商品详细页面</title>
	<link rel="stylesheet" href="__PUBLIC__/css/base.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/shop_common.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/shop_header.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/shop_list.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/shop_goods.css" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/js/topNav.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/js/shop_goods.js" ></script>
</head>
<body>
	<include file="Public/header" />
	</div>
	<div class="clear"></div>
	<div class="shop_hd_breadcrumb">
		<strong>当前位置：</strong>
		<span>
			<a href="">首页</a>&nbsp;›&nbsp;
			<volist name="parentCats" id="vo">
				<a href="__MODULE__/Category/index/id/{$vo.cat_id}">
					{$vo.cat_name}</a> <if condition="$i != count($parentCats)" >&nbsp;›&nbsp;</if>
			</volist>
		</span>
	</div>
	<div class="clear"></div>
	<div class="shop_goods_bd clear">

		<!-- 商品展示 -->
		<div class="shop_goods_show">
			<div class="shop_goods_show_left">
				<!-- 京东商品展示 -->
				<link rel="stylesheet" href="__PUBLIC__/css/shop_goodPic.css" type="text/css" />
				<script type="text/javascript" src="__PUBLIC__/js/shop_goodPic_base.js"></script>
				<script type="text/javascript" src="__PUBLIC__/js/lib.js"></script>
				<script type="text/javascript" src="__PUBLIC__/js/163css.js"></script>
				<div id="preview">
					<div class=jqzoom id="spec-n1" onClick="window.open('/')"><img class="goods_img" height="350" src="__ROOT__{$goods.goods_img}" jqimg="__ROOT__{$goods.goods_img}" width="350">
						</div>
						<div id="spec-n5">
							<div class=control id="spec-left">
								<img src="__PUBLIC__/images/left.gif" />
							</div>
							<div id="spec-list">
								<ul class="list-h">
									<li><img src="__ROOT__{$goods.goods_img}"> </li>
								</ul>
							</div>
							<div class=control id="spec-right">
								<img src="__PUBLIC__/images/right.gif" />
							</div>
							
					    </div>
					</div>

					<SCRIPT type=text/javascript>
						$(function(){			
						   $(".jqzoom").jqueryzoom({
								xzoom:400,
								yzoom:400,
								offset:10,
								position:"right",
								preload:1,
								lens:1
							});
							$("#spec-list").jdMarquee({
								deriction:"left",
								width:350,
								height:56,
								step:2,
								speed:4,
								delay:10,
								control:true,
								_front:"#spec-right",
								_back:"#spec-left"
							});
							$("#spec-list img").bind("mouseover",function(){
								var src=$(this).attr("src");
								$("#spec-n1 img").eq(0).attr({
									src:src.replace("\/n5\/","\/n1\/"),
									jqimg:src.replace("\/n5\/","\/n0\/")
								});
								$(this).css({
									"border":"2px solid #ff6600",
									"padding":"1px"
								});
							}).bind("mouseout",function(){
								$(this).css({
									"border":"1px solid #ccc",
									"padding":"2px"
								});
							});				
						})
						</SCRIPT>
					<!-- 京东商品展示 End -->

			</div>
			<div class="shop_goods_show_right">
				<input type="hidden" value="{$goods.goods_id}" class="goods_id">	
				<ul>
					<li>
						<strong style="font-size:14px; font-weight:bold;" class="goods_name">{$goods.goods_name}</strong>
					</li>
					<li>
						<label>价格：</label>
						<span><strong class="shop_price">{$goods.shop_price}</strong>元</span>
					</li>
					<li>
						<label>运费：</label>
						<span>卖家承担运费</span>
					</li>
					<li>
						<label>累计售出：</label>
						<span>{$goods.click_count}件</span>
					</li>
					<li class="goods_num">
						<label>购买数量：</label>
						<span><a class="good_num_jian" id="good_num_jian" href="javascript:void(0);"></a><input type="text" value="1" id="good_nums" class="good_nums sell_number" /><a href="javascript:void(0);" id="good_num_jia" class="good_num_jia"></a>(当前库存{$goods.goods_number}件)</span>
					</li>
					<li style="padding:20px 0;">
						<label>&nbsp;</label>
						<span><a href="__MODULE__/cart/index" class="goods_sub goods_sub_gou" onclick="addShopCar()">加入购物车</a></span>
					</li>
				</ul>		
			</div>
		</div>
		<!-- 商品展示 End -->

		<div class="clear mt15"></div>
		<!-- Goods Left -->
		<div class="shop_bd_list_left clearfix">
		<div class="shop_bd_list_bk clearfix">
				<div class="title">热卖推荐商品</div>
				<div class="contents clearfix">
					<ul class="clearfix">						
						<volist name="hotGoods" id="vo">
							<li class="clearfix">
								<div class="goods_name"><a href="__MODULE__/Goods/index/id/{$vo.goods_id}">{$vo.goods_name}</a></div>
								<div class="goods_pic"><span class="goods_price">{$vo.shop_price} </span><a href=""><img src="__ROOT__{$VO.goods_img}" /></a></div>
								<div class="goods_xiaoliang">
									<span class="goods_xiaoliang_link"><a href="__MODULE__/Goods/index/id/{$vo.goods_id}">去看看</a></span>
									<span class="goods_xiaoliang_nums">已销售<strong>{$vo.click_count}</strong>笔</span>
								</div>
							</li>
						</volist>
					</ul>
				</div>
			</div>
			<!-- 热卖推荐商品 -->
			<div class="clear"></div>

			<!-- 浏览过的商品 -->
			<div class="shop_bd_list_bk clearfix">
				<div class="title">浏览过的商品</div>
				<div class="contents clearfix">
					<ul class="clearfix">
					<volist name="hotGoods" id="vo">
						<li class="clearfix">
							<div class="goods_name"><a href="__MODULE__/Goods/index/id/{$vo.goods_id}">{$vo.goods_name}</a></div>
							<div class="goods_pic"><span class="goods_price">{$vo.shop_price} </span><a href=""><img src="__ROOT__{$VO.goods_img}" /></a></div>
							<div class="goods_xiaoliang">
								<span class="goods_xiaoliang_link"><a href="__MODULE__/Goods/index/id/{$vo.goods_id}">去看看</a></span>
								<span class="goods_xiaoliang_nums">已销售<strong>{$vo.click_count}</strong>笔</span>
							</div>
						</li>
					</volist>
					</ul>
				</div>
			</div>
		</div>

		<!-- 商品详情 -->
		<script type="text/javascript" src="__PUBLIC__/js/shop_goods_tab.js"></script>
		<div class="shop_goods_bd_xiangqing clearfix">
			<div class="shop_goods_bd_xiangqing_tab">
				<ul>
					<li><a href=""><span>商品详情</span></a></li>
				</ul>
			</div>
			<div class="shop_goods_bd_xiangqing_content clearfix">
				<div>
					<div>
						<volist name="attr" id="vo">
							<p>{$vo.attr_name} : {$vo.attr_value}</p>
						</volist>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Footer - wll - 2013/3/24 -->
	<div class="clear"></div>
	<div class="shop_footer">
            <div class="shop_footer_copy">
                <p>版权所有 &copy; 2015-2016  王波毕业设计</p>
            </div>
        </div>
	<!-- Footer End -->
<script type="text/javascript">
var goods_id = $('.goods_id').val();
var goods_name = $('.goods_name').html();
var sell_number = 1;
var shop_price = $('.shop_price').html();
var goods_img = $('.goods_img').attr('src');
var user_name = $('.user_name').html();
function addShopCar(){
	if( user_name ) {
		$.ajax({
			type: "post",
			url: "__MODULE__/goods/shopCar",
			async: true,//异步or同步
			data: {goods_id:goods_id,goods_name:goods_name,sell_number:sell_number,shop_price:shop_price,goods_img:goods_img},
			success: function(msg)
			{
			  alert(msg);
			}
		});
		$.ajax({
			type: "post",
			url: "__MODULE__/goods/edit",
			async: true,//异步or同步
			data: {goods_id:goods_id,sell_number:sell_number},
			success: function(msg)
			{}
		});
	}else {
		alert('请先登录');
	}
}
</script>
</body>
</html>